<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>psproductfieldgenerator</name>
    <displayName><![CDATA[Product field generator]]></displayName>
    <version><![CDATA[0.0.1]]></version>
    <description><![CDATA[Will generate some products field automatically.]]></description>
    <author><![CDATA[]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>